/*000022 001242 0094C6 ; oxford_blue penn_blue blue*/
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #000022;
}
#contacts{
    margin: 0;
    background-color: #040F16;
    padding: 5px 5px;
    font-weight: 700;
    color: #fff;
}
#header-elements{
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: #fff solid 1px;
}
#logo-cont{
    color:#fff; 
    cursor: pointer;
}
#personalise-cont{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 10px;
    height: 100%;
    width: 40%;
    align-items: baseline;
}
.buttons{
    width: fit-content;
    background-color:#005E7C;
    color: #fff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
#search-bar-cont{
    width: 85%;
    display: flex;
    justify-content: center;
}
#search-query{
    padding: 9px 5px;
    width: 70%;
}
.page-title{
    color: #fff;
}

#main-cont{
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
#page-items{
    display: flex;
    flex-direction: column;
}
.page-item{
    background-color: #0094C6;
    padding: 10px 5px 10px 20px;
    margin: 5px 0px;
    width: 100%;
    color: #fff;
    cursor: pointer;
}
#add-cont{
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    background-color: #fff;
    color: #0094C6;
    width:fit-content;
    height: fit-content;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    padding: 1%;
    border: solid .5px #fff;  
    cursor: pointer; 
}

#add-item-form-cont,#login-form-cont{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* blur effect */
}
#add-folder-form,#login-form{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .5px solid #f1f1f1;
    background-color: #0094C6;
    width: 300px;
    padding: 2vh ;
}
#folder-name,#user-email,#user-password{
    width: 80%;
}
#add-item-btn,#login-btn{
    margin-top: 5vh;
    width:fit-content;
    padding: 1%;
    align-self: center;
}
#cancel,#cancel-1{
    position: absolute;
    top: 1%;
    right: 1%;
    color: #fff;
    text-decoration: underline;
}

#message-cont{
    width: 35%;
    display: none;
    margin: auto;
    text-align: center;
    padding: 1vw;
    font-size: 85%;
    position: fixed;
    top: 1%;
    right: 30%;  
    font-weight: 700; 
}

.error-cont{
    background-color: rgb(253, 185, 185);
    color: rgb(255, 60, 60);
}
.success-cont{
    background-color: rgb(158, 252, 158);
    color:green;
}

@media screen and (max-width: 600px) {
   #header-elements{
    display: flex;
    flex-direction: column;
    border: none;
   }
   #logo-cont{
    font-size: 70%;
    width: fit-content;
    margin: auto;
    
   }
   #personalise-cont{
    display: flex;
    width: 100%;
    padding: 1px;
    height: 100%;
    align-items: center;
    margin: auto;
}
#main-cont{
    font-size: 90%;
}
#add-cont{
    font-size: 8vw;
    width:fit-content;
    height: fit-content;
    padding: 4%;
}
}

.loading-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
color: #0094C6;
}

.loading {
display: inline-block;
width: 20px;
height: 20px;
border-radius: 50%;
border: 2px solid #0094C6;
border-top-color: transparent;
animation: spin 1s linear infinite;

}
@keyframes spin {
to {
transform: rotate(360deg);
}
}